.w-50 p{
  font-size: 16px;
  text-align: center;
  width: 20%;
  border-width: 4px;
  border-style: solid;
  color: rgb(251, 251, 251);
  background-color:#17a2b8;
  border-image: linear-gradient(to right, rgb(245, 234, 14), rgb(21, 231, 21)) 1;
  margin-bottom: auto;
}

.w-50 input{
  background:rgba(13, 218, 170, 0.092);
}
.ypologismos{
  width: 50%;
  margin: 0px 400px;
  border: solid 2px black;
  border-radius: 2rem;
  font-size: large;
  color: #fff;
  background-color: #17a2b8;
  visibility: visible;
}


.diahorismos{
  width: 50%;
  border: solid 2px rgb(234, 255, 0);
  border-radius: 2rem;
  font-size: large;
  color: #fff;
  background-color: #212529;
}

.d-flex input {
  margin: 0.9em 0em;
}

.d-flex button {
  margin: 1.5em 0.6em;
  padding: 0.3em 2.4em;
}

.container table {
  margin: 50px;
  width: 100%;
}

th {
  border: solid 2px;
  border-color: black;
  border-radius: 2px;
  font-size: large;
  
}

td{
  border: solid 2px aqua;
  border-radius: 5px;
  font-size: medium;
}

table .btnedit {
  color: rgb(33, 212, 30);
  cursor: pointer;
}

table .btndelete {
  color: red;
  cursor: pointer;
}

table .btnselect {
  color: rgb(21, 0, 255);
  cursor: pointer;
}
/*BTNs*/
.btn-icons {
  flex-direction: column;
}

/* messages */
.insertmsg,
.updatemsg,
.deletemsg {
  position: absolute;
  top: -40px;
}

.movedown {
  animation: slideup 4.5s ease;
}


@keyframes slideup {
  50% {
    top: 0;
  }
  100% {
    top: -40px;
  }
}

@media screen and (max-width: 480px) {
  table,
  table thead,
  table tbody,
  table th,
  table td,
  table tr {
    display: block;
    display: flex;
    flex-direction: column;
  }
}
